/* ---------------------------------
 *   自訂義原始變數
 * --------------------------------- */

// 網站字體
$family-sans-serif ?= Arial, 'Noto Sans SC', 'Microsoft JhengHei', sans-serif
$family-code ?= 'Fira Code', monospace
$body-size = 16px
