/* ---------------------------------
 *   自訂義原始變數
 * --------------------------------- */

// 網站字體
$family-sans-serif ?= Arial, 'Noto Sans SC', 'Microsoft JhengHei', sans-serif
$family-code ?= 'Inconsolata', monospace
$body-size = 16px

// 網站背景顏色
$body-background-color = rgb(233, 229, 225)

// 網站主配色
$primary-color = rgb(200, 182, 166)
$primary-color-hover = rgb(146, 127, 108)

// 網站佈局
// 由 node_modules\bulma-stylus\stylus\elements\container.styl 和 themes\icarus\include\style\responsive.styl 控制寬度
$gap = 55px
$phone = 426px
$screen-onek = 1700px

// section
$section-padding = 1rem

// navbar
$navbar-item-hover-color = $primary-color-hover
$navbar-item-hover-background-color = transparent !important
$navbar-item-active-color = $primary-color-hover
$navbar-dropdown-arrow = $primary-color-hover
$navbar-dropdown-item-hover-color = $primary-color-hover

// model
$modal-z = 110
$modal-card-head-radius = 15px
$modal-card-foot-radius = 15px
$modal-content-width = 70vw

// message
$message-radius = 10px
$message-header-radius = 10px
$message-body-radius = 10px
$message-body-border-width = 0 0 0 6px

// table
$table-row-hover-background-color = $body-background-color

// menu
$menu-label-font-size = 1rem
$menu-item-radius = 10px
$menu-item-active-color = $primary-color-hover
$menu-item-active-background-color = $body-background-color

// card
$card-radius = 15px

// notification
$notification-radius = 10px
$notification-padding = 1rem
$notification-background-color = $primary-color-hover

// footer
$footer-padding = 2rem

// search box
$searchbox-border-radius = 15px

// loge 高度
$logo-height = 3.5rem

// 頁數樣式
$pagination-current-background-color = $primary-color-hover
