/* ---------------------------------
 *   自訂義原始變數
 * --------------------------------- */

// 網站字體
$family-sans-serif ?= Arial, 'Noto Sans SC', 'Microsoft JhengHei', sans-serif
$family-code ?= 'Fira Code', monospace
$body-size = 16px

// 網站背景顏色
$body-background-color = rgb(233, 229, 225)

// 網站主配色
$primary-color = rgb(200, 182, 166)
$primary-color-hover = rgb(146, 127, 108)

// 網站佈局
// 由 node_modules\bulma-stylus\stylus\elements\container.styl 和 themes\icarus\include\style\responsive.styl 控制寬度
$gap = 55px
$phone = 426px
$screen-onek = 1700px

// navbar
$navbar-item-hover-color = $primary-color-hover
$navbar-item-hover-background-color = transparent !important
$navbar-item-active-color = $primary-color-hover
$navbar-dropdown-arrow = $primary-color-hover
$navbar-dropdown-item-hover-color = $primary-color-hover

// loge 高度
$logo-height = 3.5rem

// 頁數樣式
$pagination-current-background-color = $primary-color-hover
