/* ---------------------------------
 *   自訂義樣式
 * --------------------------------- */

// 優化網站布局
// widescreen 以上的三欄佈局 (調整欄位寬度)
+widescreen()
    .column.is-3-widescreen
        width 22%
    .column.is-6-widescreen
        width 56%

@media screen and (min-width: $screen-onek)
    .container
        max-width: 1500px

// Nav bar
.navbar
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    z-index: 100
    position: sticky
    top: 0

.navbar-main
    .navbar-item
        background-image: linear-gradient(transparent calc(100% - 1px), $primary-color-hover 1px)
        background-repeat: no-repeat
        background-size: 0 85%
        transition: all .25s ease-in-out
        &.is-active
            color: $primary-color-hover
            font-weight: bold
        &:hover
            color: $primary-color-hover
            background-color: transparent
            background-size: 100% 100%

// 連結、按鈕
a
    color: $primary-color
    &:hover
        color: $primary-color-hover
        transition: all .3s;

.button.is-primary, .button.is-link
    background-color: $primary-color
    &:hover
        background-color: $primary-color-hover
        transition: all .3s;

article
    .title a
        background-image: linear-gradient(transparent calc(100% - 1px), $primary-color-hover 1px)
        background-repeat: no-repeat
        background-size: 0 100%
        transition: all .25s ease-in-out
    .title:hover a
        color: $primary-color-hover !important
        background-size: 100% 100%
    .link-muted:hover
        color: $primary-color-hover !important

.pagination-link.is-current
    background-color: $primary-color-hover

// card
.card:hover
    box-shadow: 0 6px 15px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.1)

// 卷軸
+desktop()
    ::-webkit-scrollbar
        width: 12px

    ::-webkit-scrollbar-thumb
        border-radius: 5px

// 文章內 icon
article
    i
        margin-right: 5px

// 其他
.level-item
    align-items: baseline;

.article-tags
    align-items: baseline;