/* ---------------------------------
 *   自訂義樣式
 * --------------------------------- */

// 優化網站布局
// widescreen 以上的三欄佈局 (調整欄位寬度)
+widescreen()
    .column.is-3-widescreen
        width 22%
    .column.is-6-widescreen
        width 56%

@media screen and (min-width: $screen-onek)
    .container
        max-width: 1500px

// 跳轉錨點上方留空
html
    scroll-padding-top: 150px
+widescreen()
    html
        scroll-padding-top: 95px

// Nav bar
.navbar
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    z-index: 100
    position: sticky
    top: 0

.navbar-menu
    .navbar-item
        background-image: linear-gradient(transparent calc(100% - 1px), $primary-color-hover 1px)
        background-repeat: no-repeat
        background-size: 0 85%
        transition: all .25s ease-in-out
        &.is-active
            color: $primary-color-hover
            font-weight: bold
        &:hover
            color: $primary-color-hover
            background-color: transparent
            background-size: 100% 100%

+mobile()
    .navbar-item.navbar-logo
        padding-bottom: 0rem

// 連結、按鈕
a
    color: $primary-color-hover
    &:hover
        color: $primary-color
        transition: all .3s;

.button.is-primary, .button.is-link
    background-color: $primary-color
    &:hover
        background-color: $primary-color-hover
        transition: all .3s;

// 繼續閱讀
.article-more
    border-radius: 7px !important

// 文章 (article)
article
    .link-muted:hover
        color: $primary-color-hover !important

.article-licensing
    border-radius: 15px

// 文章列表 (article.media)
article.media
    .title a
        background-image: linear-gradient(transparent calc(100% - 1px), $primary-color-hover 1px)
        background-repeat: no-repeat
        background-size: 0 100%
        transition: all .25s ease-in-out
    .title:hover a
        color: $primary-color-hover !important
        background-size: 100% 100%
    .link-muted:hover
        color: $primary-color-hover !important
    a:hover
        color: $primary-color-hover
        transition: all .3s;
    // 移除強制大寫
    .categories
        text-transform: none !important;

// 螢光標記
mark
    background-color: #fff1a7;
    border-radius: 3px;
    padding: 2px;

// 健忘筆記
.message a:not(.button):not(.tag):not(.dropdown-item)
    color: $primary-color-hover
    text-decoration: none;
    background-image: linear-gradient(transparent calc(100% - 1px), $primary-color-hover 2px)
    background-repeat: no-repeat
    background-size: 0 100%
    transition: all .25s ease-in-out
    &:hover
        background-size: 100% 100%
.message
    border-radius: 10px
    .message-header
        border-radius: 10px 10px 0 0

.message-body
    border-radius: 10px
    border-width: 0 0 0 6px

// 表格
.table-scroll
    height: 65vh
    overflow-y: auto
    // 表格首行首列釘選
    td:first-child, th:first-child
        position: sticky
        z-index: 1
        left: 0
        background-color: rgb(255, 255, 255)

    thead tr th
        position: sticky
        top: 0
        background-color: rgb(255, 255, 255)

    th:first-child
        z-index: 2

// 目錄
.menu-list a
    border-radius: 10px
    &.is-active
        background-color: $body-background-color
        color: $primary-color-hover
        font-weight: bold

// 標籤列表
.tag:not(body)
    border-radius: 7px
    font-size: 0.8rem
    background-color: $body-background-color
    &.is-primary
        background-color: $primary-color-hover

.widget .tags .tag:first-child
    background-color: $primary-color-hover

// 麵包屑
.breadcrumb a
    color: inherit
    &:hover
        color: $primary-color-hover
        transition: all .3s;

// 頁數
.pagination-link.is-current
    background-color: $primary-color-hover

// 側邊欄
+tablet()
    .column-main.is-sticky,
    .column-left.is-sticky,
    .column-right.is-sticky,
    .column-right-shadow.is-sticky
        top: 6.5rem;
        align-self: flex-start;

.menu-label
    font-size: 1rem
    text-transform: none !important;

// card
.card
    border-radius: 15px
    &:hover
        box-shadow: 0 15px 15px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.1)

// footer
footer.footer
    padding: 2rem

+mobile()
    footer.footer
        padding: 1.5rem
        .level-end .field
            margin-top: 0rem

// 卷軸
+desktop()
    ::-webkit-scrollbar
        width: 12px

    ::-webkit-scrollbar-thumb
        border-radius: 5px

// 文章內 icon
article
    i
        margin-right: 5px

// 複製完成提示
.notification
    position: fixed
    border-radius: 10px
    padding: 1rem
    bottom: -15%
    left: 50%
    transform: translateX(-50%);
    color: $white
    background-color: $primary-color-hover

// 其他
.level-item
    align-items: baseline;

.article-tags
    align-items: baseline;
